.search-bar {
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  position: relative;
  top: -3px;
}

.search-bar:focus::placeholder {
  color: transparent;
}

.search-bar:focus {
  outline: none;
}

#center-content {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#414345, #2e2c29);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.exit-button {
  color: #fff;
  background-color: transparent;
  font-weight: 300;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.exit-button:hover {
  background-color: red;
}
.exit-button:focus {
  outline: none;
}

.exit-button:active {
  color: goldenrod;
}

.maximize-button {
  color: #fff;
  background-color: transparent;
  font-weight: 300;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 1px;
  right: 15px;
  border-color: transparent;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.maximize-button:hover {
  background-color: #abb0b4;
}
.maximize-button:focus {
  outline: none;
}

.maximize-button:active {
  color: goldenrod;
}

.minimize-button {
  color: #fff;
  background-color: transparent;
  font-weight: 300;
  font-family: Arial, sans-serif;
  position: absolute;
  top: -2px;
  right: 35px;
  border-color: transparent;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.minimize-button:hover {
  background-color: #abb0b4;
}
.minimize-button:focus {
  outline: none;
}

.minimize-button:active {
  color: goldenrod;
}

#drag-bar {
  width: 100%;
  height: 20px;
  top: 0;
  position: absolute;
  -webkit-app-region: drag;
}

.forward-button {
  color: #fff;
  border-color: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
  line-height: 5px;
}

.back-button {
  color: #fff;
  border-color: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.forward-button:focus {
  outline: none;
}

.back-button:focus {
  outline: none;
}
.forward-button:active {
  color: goldenrod;
}
.back-button:active {
  color: goldenrod;
}
